# ------------------------------------
# Python Essentials
# ------------------------------------
# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# ------------------------------------
# Virtual Environments
# ------------------------------------
venv/
.venv/
env/


# ------------------------------------
# Jupyter Notebooks
# ------------------------------------
# Checkpoints created by Jupyter
.ipynb_checkpoints

# ------------------------------------
# IDE & OS Settings
# ------------------------------------
# VS Code settings (local configuration)
.vscode/